
table, th, tr, td{
	border:1px solid black;
	border-collapse: collapse;
	background-color: lightgrey
}	
body{
	background-color: #abcdef;
	color: #36454F;
}
#info{
Background-color: PapayaWhip;
}

.highlight{
background-color: lightblue;

}
#animals{
	text-decoration: underline;
	text-decoration-style: wavy;
}
